/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

// COLORS

$blue : #295BCC;
$black : #333333;
$white : #fff;
$hover : shade($blue, 50%);

$serif : "pt-serif", georgia, times, serif;

$wide-b : 12px;

// STYLIN

body {
	font-family: $serif;
	font-size: 1.2em;
	color: $black;
	line-height: 1.666666667;
	background: tint($blue, 99%);

	border-top: 5px solid $blue;
}

a {
	@include transition(color .2s ease);
	color: $blue;

	&:hover {
		color: $hover;
	}
}

img {
	max-width: 100%;
}

header {
	background: $white;
	text-align: center;

	.name {
		width: 50%;
		margin: auto;
		padding: 6.3em 1em 1em;
		text-align: center;
		background: url("../images/monogram.svg");
		background-position: center 4em;
		background-repeat: no-repeat;

		h1 {
			margin-top: 2em;
			font-size: 1.5em;
			color: $blue;
			font-weight: bold;
			padding: .2em .4em;
			line-height: 1;
			display: inline-block;
		}
	}

	nav {
		display: block;
		padding: .5em 1em 2em;
		background: $white;
		//border-bottom: 1px solid $blue;
		position: relative;

		ul > li {
			display: inline-block;
			font-weight: bold;
			font-size: .8em;
			text-transform: uppercase;
			letter-spacing: 2px;

			a {
				text-decoration: none;
			}

			&:not(:last-of-type) {
				&:after {
					content : "•";
					padding: 0em 1em;
					color: $blue;
				}
			}
		}
	}
}

#about {
	margin-bottom: 3em;

	.about-inner:before {
		@include transition(left .2s ease, opacity .2s ease);
		content: " ";
		display: block;
		width: 6em;
		height: 6em;
		background-image: url("../images/paul.jpg");
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		position: absolute;
		left: -25em;
		opacity: 0;
	}

	.in-view.about-inner:before {
		left: -9em;
		opacity: 1;
	}
}

.container {
	width: 50%;
	margin: auto;
	position: relative;
}

.book-container {
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	margin: 5em 0;
	position: relative;


	h4 {
		color: $black;
		//text-transform: uppercase;
		margin-bottom: 1em;
		font-weight: bold;
		font-size: 1.2em;
	}

	.cover {
		@include transition(right .2s ease .7s, left .2s ease .7s, opacity .2s ease .7s);
		position: absolute;
		left: -300px;
		max-width: 250px;
		height: 100%;
		text-align: right;
		opacity: 0;

		img {
			max-width: 65%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.buy {
		@include transition(right .2s ease .7s, left .2s ease .7s, padding .2s ease, background .2s ease, opacity .2s ease .7s);
		display: inline-block;
		position: absolute;
		right: -100px;
		top: 40%;
		padding: 1em 1em .5em;
		opacity: 0;
	}

	&.in-view {
		.cover {
			@include transition(right .2s ease, left .2s ease, opacity .2s ease);
			left:0;
			opacity: 1;
		}

		.buy {
			@include transition(right .2s ease, left .2s ease, padding .1s ease, background .1s ease, opacity .2s ease);
			right: 170px;
			opacity: 1;
			
			&:hover {
				padding-left: 7em;
			}
		}
	}
}

.shorts {
	text-align: center;
	margin-bottom: 3em;

	h3 {
		font-weight: bold;
		margin-bottom: 2em;
	}

	ul {
		text-align: left;

		a {
			text-decoration: none;
		}

		li {
			display: block;
			border-bottom: 1px solid $blue;
			margin-bottom: 1em;
			line-height: 1;
		}

		.right-arrow {
			float: right;
		}
	}
}

.section-title {
	border-bottom: 1px dotted $blue;
	text-align: center;
	margin-bottom: 5em;

	h2 {
		display: inline-block;
		border: 1px solid $blue;
		padding: .2em 1em;
		position: relative;
		font-weight: bold;
		bottom: -1em;
		color: $blue;
		font-size: .8em;
		background: $white;
		text-transform: uppercase;
		letter-spacing: 2px
	}
}

#news {
	text-align: center;
}

.news-item {
	text-align: center;

	h5 {
		font-weight: bold;
	}

	&:not(:last-of-type):after {
		content: "\2026";
		display: block;
		text-align: center;
		line-height: 1;
		font-size: 2em;
		color: $black;
		margin-bottom: .8em;
	}
}

.archive-link {
	display: block;
	margin: 2em 0;
}

.bottom-border {
	height: 3em;
	width: 100%;
	//background: url("../images/tile.png");
	background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
	.container {
		font-size: 90%;
		width: 75%;
	}
	.book-container {
		.cover, .buy {
			display: none;
		}
	}

	#about {
		.container:before {
			display: none;
		}
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 90%;
		font-size: 80%;
	}

	header {
		.name {
			h1 {
				font-size: 1em;
				margin-top: 5em;
			}
		}

		nav {
			font-size: 80%;
		}
	}

	.book-container {
		.cover, .buy {
			display: none;
		}
	}
}