@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: "pt-serif", georgia, times, serif;
  font-size: 1.2em;
  color: #333333;
  line-height: 1.666666667;
  background: #fcfdfe;
  border-top: 5px solid #295bcc;
}

/* line 33, ../sass/screen.scss */
a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #295bcc;
}
/* line 37, ../sass/screen.scss */
a:hover {
  color: #142d66;
}

/* line 42, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 46, ../sass/screen.scss */
header {
  background: white;
  text-align: center;
}
/* line 50, ../sass/screen.scss */
header .name {
  width: 50%;
  margin: auto;
  padding: 6.3em 1em 1em;
  text-align: center;
  background: url("../images/monogram.svg");
  background-position: center 4em;
  background-repeat: no-repeat;
}
/* line 59, ../sass/screen.scss */
header .name h1 {
  margin-top: 2em;
  font-size: 1.5em;
  color: #295bcc;
  font-weight: bold;
  padding: 0.2em 0.4em;
  line-height: 1;
  display: inline-block;
}
/* line 70, ../sass/screen.scss */
header nav {
  display: block;
  padding: 0.5em 1em 2em;
  background: white;
  position: relative;
}
/* line 77, ../sass/screen.scss */
header nav ul > li {
  display: inline-block;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 84, ../sass/screen.scss */
header nav ul > li a {
  text-decoration: none;
}
/* line 89, ../sass/screen.scss */
header nav ul > li:not(:last-of-type):after {
  content: "•";
  padding: 0em 1em;
  color: #295bcc;
}

/* line 99, ../sass/screen.scss */
#about {
  margin-bottom: 3em;
}
/* line 102, ../sass/screen.scss */
#about .about-inner:before {
  -webkit-transition: left 0.2s ease, opacity 0.2s ease;
  -moz-transition: left 0.2s ease, opacity 0.2s ease;
  -o-transition: left 0.2s ease, opacity 0.2s ease;
  transition: left 0.2s ease, opacity 0.2s ease;
  content: " ";
  display: block;
  width: 6em;
  height: 6em;
  background-image: url("../images/paul.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: -25em;
  opacity: 0;
}
/* line 117, ../sass/screen.scss */
#about .in-view.about-inner:before {
  left: -9em;
  opacity: 1;
}

/* line 123, ../sass/screen.scss */
.container {
  width: 50%;
  margin: auto;
  position: relative;
}

/* line 129, ../sass/screen.scss */
.book-container {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  margin: 5em 0;
  position: relative;
}
/* line 137, ../sass/screen.scss */
.book-container h4 {
  color: #333333;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 145, ../sass/screen.scss */
.book-container .cover {
  -webkit-transition: right 0.2s ease, left 0.2s ease, opacity 0.2s ease;
  -webkit-transition-delay: 0.7s, 0.7s, 0.7s;
  -moz-transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, opacity 0.2s ease 0.7s;
  -o-transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, opacity 0.2s ease 0.7s;
  transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, opacity 0.2s ease 0.7s;
  position: absolute;
  left: -300px;
  max-width: 250px;
  height: 100%;
  text-align: right;
  opacity: 0;
}
/* line 154, ../sass/screen.scss */
.book-container .cover img {
  max-width: 65%;
  display: inline-block;
  vertical-align: middle;
}
/* line 161, ../sass/screen.scss */
.book-container .buy {
  -webkit-transition: right 0.2s ease, left 0.2s ease, padding 0.2s ease, background 0.2s ease, opacity 0.2s ease;
  -webkit-transition-delay: 0.7s, 0.7s, 0s, 0s, 0.7s;
  -moz-transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, padding 0.2s ease, background 0.2s ease, opacity 0.2s ease 0.7s;
  -o-transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, padding 0.2s ease, background 0.2s ease, opacity 0.2s ease 0.7s;
  transition: right 0.2s ease 0.7s, left 0.2s ease 0.7s, padding 0.2s ease, background 0.2s ease, opacity 0.2s ease 0.7s;
  display: inline-block;
  position: absolute;
  right: -100px;
  top: 40%;
  padding: 1em 1em 0.5em;
  opacity: 0;
}
/* line 172, ../sass/screen.scss */
.book-container.in-view .cover {
  -webkit-transition: right 0.2s ease, left 0.2s ease, opacity 0.2s ease;
  -moz-transition: right 0.2s ease, left 0.2s ease, opacity 0.2s ease;
  -o-transition: right 0.2s ease, left 0.2s ease, opacity 0.2s ease;
  transition: right 0.2s ease, left 0.2s ease, opacity 0.2s ease;
  left: 0;
  opacity: 1;
}
/* line 178, ../sass/screen.scss */
.book-container.in-view .buy {
  -webkit-transition: right 0.2s ease, left 0.2s ease, padding 0.1s ease, background 0.1s ease, opacity 0.2s ease;
  -moz-transition: right 0.2s ease, left 0.2s ease, padding 0.1s ease, background 0.1s ease, opacity 0.2s ease;
  -o-transition: right 0.2s ease, left 0.2s ease, padding 0.1s ease, background 0.1s ease, opacity 0.2s ease;
  transition: right 0.2s ease, left 0.2s ease, padding 0.1s ease, background 0.1s ease, opacity 0.2s ease;
  right: 170px;
  opacity: 1;
}
/* line 183, ../sass/screen.scss */
.book-container.in-view .buy:hover {
  padding-left: 7em;
}

/* line 190, ../sass/screen.scss */
.shorts {
  text-align: center;
  margin-bottom: 3em;
}
/* line 194, ../sass/screen.scss */
.shorts h3 {
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 199, ../sass/screen.scss */
.shorts ul {
  text-align: left;
}
/* line 202, ../sass/screen.scss */
.shorts ul a {
  text-decoration: none;
}
/* line 206, ../sass/screen.scss */
.shorts ul li {
  display: block;
  border-bottom: 1px solid #295bcc;
  margin-bottom: 1em;
  line-height: 1;
}
/* line 213, ../sass/screen.scss */
.shorts ul .right-arrow {
  float: right;
}

/* line 219, ../sass/screen.scss */
.section-title {
  border-bottom: 1px dotted #295bcc;
  text-align: center;
  margin-bottom: 5em;
}
/* line 224, ../sass/screen.scss */
.section-title h2 {
  display: inline-block;
  border: 1px solid #295bcc;
  padding: 0.2em 1em;
  position: relative;
  font-weight: bold;
  bottom: -1em;
  color: #295bcc;
  font-size: .8em;
  background: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 239, ../sass/screen.scss */
#news {
  text-align: center;
}

/* line 243, ../sass/screen.scss */
.news-item {
  text-align: center;
}
/* line 246, ../sass/screen.scss */
.news-item h5 {
  font-weight: bold;
}
/* line 250, ../sass/screen.scss */
.news-item:not(:last-of-type):after {
  content: "\2026";
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 2em;
  color: #333333;
  margin-bottom: .8em;
}

/* line 261, ../sass/screen.scss */
.archive-link {
  display: block;
  margin: 2em 0;
}

/* line 266, ../sass/screen.scss */
.bottom-border {
  height: 3em;
  width: 100%;
  background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
  /* line 274, ../sass/screen.scss */
  .container {
    font-size: 90%;
    width: 75%;
  }

  /* line 279, ../sass/screen.scss */
  .book-container .cover, .book-container .buy {
    display: none;
  }

  /* line 285, ../sass/screen.scss */
  #about .container:before {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 292, ../sass/screen.scss */
  .container {
    width: 90%;
    font-size: 80%;
  }

  /* line 299, ../sass/screen.scss */
  header .name h1 {
    font-size: 1em;
    margin-top: 5em;
  }
  /* line 305, ../sass/screen.scss */
  header nav {
    font-size: 80%;
  }

  /* line 311, ../sass/screen.scss */
  .book-container .cover, .book-container .buy {
    display: none;
  }
}
